#pc-960a9e01-610e-11f0-8524-a30cdf12f8b9 {
    width: 100vw;
    height: 51.25523012552301255230125523vw;
    margin-left: 0;
}



@media (min-width: 195.10204081632653061224489796vh) {
 #pc-960a9e01-610e-11f0-8524-a30cdf12f8b9 {
    width: 195.10204081632653061224489796vh;
    height: 100vh;
    margin-top: 0;
}

}

